<section class="search-choose">
    <div class="job-search2 clearfix ">
        <h3 class="company-title">公司</h3>
        <div class="search-operation2 ">
            <a class="search"><span class="icon-search"></span></a>
        </div>
    </div>
</section>
<section class="job-part1" >
        <p class="ali-title">
            <span class="aliJob">{{companyDetail.jobName}}</span>
            <span class="aliPay">{{companyDetail.pay}}</span>
        </p>
        <p class="name_pro">{{companyDetail.companyName}} {{companyDetail.process}}</p>
        <p class="loc_edu_exp">
            <span class="icon-location"></span>{{companyDetail.location}}
            <span class="icon-bag"></span>  {{companyDetail.exp}}
            <span class="icon-benke-"></span>  {{companyDetail.edu}}
        </p>
</section>