<ul class="tab">
	<li class="tabItem" auto-focus>
		<a href="#!/job" class="active">
			<span class="icon-earth"></span>
			<span class="icon-text">职位</span>
		</a>
	</li>
	<li class="tabItem" auto-focus>
		<a href="#!/company" >
			<span class="icon-house"></span>
			<span class="icon-text">公司</span>
		</a>
	</li>
	<li class="tabItem" auto-focus>
		<a href="#!/message" >
			<span class="icon-xiaoxi"></span>
			<span class="icon-text">信息</span>
		</a>
	</li>
	<li class="tabItem" auto-focus>
		<a href="#!/userInfo" >
			<span class="icon-vipuser"></span>
			<span class="icon-text">我的</span>
		</a>
	</li>
</ul>