<header id="userInfo">
    
    <div class="header-bottom  clearfix">
        <div class="user_head"><img src="src/img/otherImg/me.jpg" alt=""></div>
        <div class="name_edu">
            <h2 class="user_name">夜千寻</h2><span class="user_edu">应届生</span>
        </div>
        <div class="jl_xg">
            <a><span class="icon-you"></span></a>
            <p>编辑简历</p>
            <p>完善度90%</p>
        </div>
    </div>
</header>
<section id="com_inter" class="clearfix">
    <div class="communicated">
        <p><strong>67</strong></p>
        <p><span>沟通过</span></p>
    </div>
    <div class="interview">
        <p><strong>0</strong></p>
        <p><span>待面试</span></p>
    </div>
</section>

<section id="menu-lists" class="clearfix">
    <ul>
        <li>
            <p><span class="icon-xiaoxi"></span></p>
            <p>小秘书</p>
        </li>
        <li>
            <p><span class="icon-jianli-"></span></p>
            <p>简历</p>
        </li>
        <li>
            <p><span class="icon-notice"></span></p>
            <p>上线提醒</p>
        </li>
        <li>
            <p><span class="icon-pc"></span></p>
            <p>登录网页版</p>
        </li>
        <li>
            <p><span class="icon-star"></span></p>
            <p>我的道具</p>

        </li>
        <li>
            <p><span class="icon-bag"></span></p>
            <p>道具商城</p>
        </li>
        <li>
            <p><span class="icon-interest"></span></p>
            <p>感兴趣</p>
        </li>
        <li>
            <p><span class="icon-jifen"></span></p>
            <p>赚积分</p>
        </li>
    </ul>
</section>

<footer id="bottom-lists">
    <ul>
        <li ><a href="" class="extraItem">
            <span class="icon-tongzhi"></span>通知
            <span class="icon-you"></span>
        </a></li>
        <li><a href="" class="extraItem">
            <span class="icon-coin"></span>积分: <i>2178分</i>
            <span class="icon-you"></span>
        </a></li>
        <li><a href="" class="extraItem">
            <span class="icon-jine"></span>金额<i>&nbsp;余额 ¥：0.00，直豆：0</i>
            <span class="icon-you"></span>
        </a></li>
        <li ><a href="" class="extraItem">
            <span class="icon-shezhi">设置</span>
            <span class="icon-you"></span>
        </a></li>
        <li ><a href="" class="extraItem last-child">
            <span class="icon-exchange"></span>Boss直聘兑换码
            <span class="icon-you"></span>
        </a></li>
    </ul>
</footer>