.search-choose {
    background: white;
    font-size: 1.6rem;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 99;
}
.job-search {
    background-color: #53cac3;
}
.job-search .search-content {
    width: 68%;
    float: left;
    outline:none;
    height: 2.4rem;
    line-height: 2.4rem;
    color: white;
    margin: 13px 10px 4px;
    border-radius: 1.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    border: none;
}
.job-search .search-operation {
    width: 25%;
    float: left;
    height: 4.7rem;
    padding: 1.5rem 0 1.5rem 0;
    display: inline-block;
    vertical-align: middle;
}
.job-search .search-operation a {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    display: inline-block;
    color: white;
    height: 100%;
    line-height: 100%;
    text-align: center;
}
.job-search .search-operation .icon-jiahao,
.job-search .search-operation .icon-search {
    height: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 2rem;
    vertical-align: middle;
}
.job-search .search-operation .jiahao {
    border-right: 1px solid #a1e1dd;
}


.job-choose {
    height: 3.3rem;
    position: relative;
}
.job-choose .chooseItem {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    /*text-align: center;*/
    height: 3.3rem;
    line-height: 3.3rem;
    font-size: 1.2rem;
    color: #aeaeae;
    cursor: pointer;
    vertical-align: middle;
}
.job-choose .chooseItem .icon-bottom {
    margin-left: .5rem;
}
.job-choose .chooseItem .require {
    position: absolute;
    top: 3.3rem;
    left: 0;
    min-height: 300px;
    width: 100%;
    margin: 0 3px;
    background: #e9efef;
}

.job-choose .chooseItem .require dl {
    /*display: flex;*/
    width: 100%;
    /*margin: 0 auto;*/
    flex-flow: row wrap;
    margin: 0 3px;
}

.job-choose .chooseItem .require dt {
    margin-left: 1rem;
}
.job-choose .chooseItem .require dt h3 {
    margin-top: .5rem;
    text-align: left;
    margin-left: 15px;
}
.job-choose .chooseItem .require dd {
    display: inline-block;
    background: white;
    
    width: 28%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border-radius: 0.5rem;
    margin: .5rem .5rem;
    cursor: pointer;
   
}
.job-choose .chooseItem .require dd.select {
    background: #53cac3;
}
/*.job-choose .chooseItem .require .finance,
.job-choose .chooseItem .require .people_num,
.job-choose .chooseItem .require .career， 
.job-choose .chooseItem .require .experience,
.job-choose .chooseItem .require .education,
.job-choose .chooseItem .require .jobType{
    text-align: left;
}*/
.job-choose .chooseItem .require .require_operation{
    margin-top: .5rem;
}
.job-choose .chooseItem .require .reset,
.job-choose .chooseItem .require .ok {
    width: 50%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    height: 3rem;
}
.job-choose .chooseItem .require .ok {
    background: #53cac3;
    color: white;
}
.job-choose .chooseItem .require .reset {
    background: white;
    color: #797979;
}



.jobLists {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 5rem;
    position: relative;
    margin-top: 9rem;
}
.jobLists .jobItem {
    margin: 1rem 1rem;
    background: white;
}
.jobLists .jobItem a {
    color: #797979;
    display: block;
}
.jobLists h3.job {
    width: 66.66667%;
    float: left;
    padding-right: 0.83333%;
    line-height: 4rem;
    padding-left: 1rem;
    color: #333333;
}
.jobLists .pay {
    width: 33.33333%;
    float: left;
    padding-left: 0.83333%;
    line-height: 4rem;
    text-align: right;
    padding-right: 1rem;
    color: #fa716a;
    font-weight: 600;
}
.job_detail {
    padding-left: 1rem;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}
.job_detail .name_pro,
.job_detail .loc_exp_edu {
    padding: .5rem  .5rem .5rem  0;
}
.job_detail .job-location,
.job_detail .job-edu,
.job_detail .job-exp,
.job_detail .jobName,
.job_detail .process {
    margin-right: .5rem;
}
.job_detail .icon-location,
.job_detail .icon-benke-,
.job_detail .icon-bag {
    margin-right: .5rem;
}
.jobLists .hr_info {
    color: #69d1cb;
    border-top: 1px solid #69d1cb;
    margin: 0 1rem;
}
.jobLists .hr_info img {
    vertical-align: middle;
    height: auto;
    width: auto;
}
.jobLists .hr_info .hrName {
    border-right: 1px solid #69d1cb;
    margin-right: 1rem;
    padding-right: .6rem;
}
.jobLists .hr_info span {
    display: inline-block;
    vertical-align: middle;
}
